.Container-chet{
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    height:75px
}
.footer {
    border: 1px solid white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 75%;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px
  }

.footer input{
    height:40%;
    width:60%;
    margin-top:10px;
    border-radius: 10px
}

.footer button{
    height:40%;
    margin-left: 10px;
    border-radius: 10px;

}